In [59]:
class Kulkas:
    
    #class Atribute
    penjual = 'Pak Ferry'
    
    def __init__ (self, merek, harga):
        self.merek = merek
        self.harga = harga
        self.total = 0
    
    def keterangan(self):
        print('Kulkas merek {} harganya sebesar {} dan dijual oleh {}'.format(self.merek, self.harga, self.penjual))

In [60]:
barang1 = Kulkas('riana',100000)

In [61]:
barang1.merek

'riana'

In [62]:
barang1.harga

100000

In [63]:
barang1.keterangan()

Kulkas merek riana harganya sebesar 100000 dan dijual oleh Pak Ferry

In [79]:
class Lingkaran:
    
    #koefisien jari jari
    phi = 3.14
    
    def __init__(self,radius):
        self.radius = radius
        self.luas = self.phi*2*radius**2
        
    def keliling(self):
        return self.radius*self.phi*2

In [80]:
bulat = Lingkaran(10)

In [81]:
bulat.keliling()

62.800000000000004

In [83]:
bulat.luas

628.0

In [85]:
class Mahasiswa:
    
    status = 'mahasiswa'
    
    def __init__(self, nama, kelas):
        self.nama = nama
        self.kelas = kelas
        
    def keterangan(self):
        print('{} di kelas {} adalah seorang {}'.format(self.nama,self.kelas,self.status))

In [86]:
murid = Mahasiswa('Anggi', 12)

In [87]:
murid.keterangan()

Anggi di kelas 12 adalah seorang mahasiswa

In [158]:
class Nilai(Mahasiswa):
    
    total_total = 0
    
    def __init__(self,nama,kelas):
        super().__init__(nama, kelas)
        # bisa juga Mahasiswa.__init__(nama,kelas)
        self.nilai = []
        self.total = 20
        
    def tambah_nilai(self, tambah):
        return self.nilai.append(tambah)
    
    def tambah_total(self, plus):
        return self.total + plus

In [159]:
score = Nilai('Budi', 11)

In [160]:
score.tambah_total(93)

113

In [161]:
score.tambah_nilai(78)

In [162]:
score.kelas

11

In [163]:
score.nama

'Budi'

In [164]:
score.keterangan()

Budi di kelas 11 adalah seorang mahasiswa

In [165]:
score.nilai

[78]

In [166]:
score.total

20